body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 1280px;
	margin: 0 auto;
	display: grid;
	position: relative;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 50px 350px 50px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"c c c c c c c c c c c c"
		"f f f f f f f f f f f f";
}

.head-menu {
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	position: absolute;
	background-color: #fff;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo img {
	width: 60px;
	height: 60px;
	padding-right: 10px;
}

.logo h1 a {
	text-decoration: none;
	color: #191919;
font-family: Montserrat;
font-size: 25px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
}

.logo h1:hover {
	opacity: 0.5;
}

.menu ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.menu ul li a {
	text-decoration: none;
	color: #191919;
font-family: Montserrat;
font-size: 15px;
font-weight: 500;
line-height: 24px;
text-transform: uppercase;
padding-right: 20px;
letter-spacing: 0.4px;
}

.menu ul li a:hover {
	opacity: 0.6;
}

.sale:hover {
	color: #e83a3a;
}

.social ul {
	display: flex;
	flex-direction: row;
}

.social-img {
	width: 30px;
	height: 30px;
	padding-right: 10px;
}

.social-img:hover {
	opacity: 0.6;
}

.fullscreen-bg {
position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}
.fullscreen-bg-video {
	max-width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;

}

.header-panel {
	margin-top: 640px;
}

.header-panel ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fff;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	height: 90px;
	position: absolute;

}

.header-panel ul li {
	text-decoration: none;
	color: #191919;
font-family: Montserrat;
font-size: 13px;
font-weight: 500;
line-height: 18px;
text-transform: uppercase;
letter-spacing: 0.4px;
text-align: center;

}

.header-panel ul li span {
font-size: 20px;
font-weight: 600;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 0.4px;
text-align: center;
}
